/* Post Meta Separator */
.post-meta-list {
  display: flex;
  flex-direction: column;
}

.post-meta-list strong {
  color: var(--color-primary);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  display: block;
}

.post-meta-list [class^="post-meta-"] {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--color-light-grey);
}

.post-meta-list [class^="post-meta-"]:last-child {
  border: none;
  margin-bottom: 3rem;
}

/* Tag List Separator */
.tag-list {
  padding: 0;
  list-style: none;
}

.tag-list li {
  display: inline;
}

.tag-list li::after {
  content: ", ";
}

.tag-list li:last-child::after {
  content: ""; /* Remove comma after the last item */
}
