/* Section HERO section */
.section-hero .section-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  padding: 0; /* Remove the previous padding declaration */
}
